.wrapper {
  width: 100%;
  height: 100%;
  background: #f0f2f7;
}
.banner {
  height: 4.2rem;
  background: url(../img/banner.png) no-repeat center center;
  background-size: 100% 100%;
}
.middle {
  height: 8.08rem;
  background: #fff;
  border-radius: 10px;
  padding: 0.2rem 0;
  margin-top: -0.17rem;
  overflow: hidden;
}
.middle li {
  overflow: hidden;
  padding: 0 0.2rem;
}
.middle li span {
  text-align: center;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  border-radius: 6px;
  float: left;
}
.middle li span:nth-of-type(3) {
  margin-right: 0 !important;
}
.middle li span:nth-of-type(7) {
  margin-right: 0 !important;
}
.middle li span b {
  font-weight: 700;
  font-size: 0.2rem;
  height: 0.16rem;
  margin-top: 0.1rem;
  display: block;
}
.middle li span i {
  font-style: normal;
  color: #666666;
  width: 100%;
  font-size: 0.18rem;
  height: 0.2rem;
}
.middle li span:nth-child(-n + 3) {
  width: 2.03rem;
  height: 0.8rem;
  border: 1px solid #e73f49;
}
.middle li span:nth-child(-n + 3) b {
  color: #e73f49;
}
.middle li span:nth-child(-n + 3).active {
  background: #e73f49;
}
.middle li span:nth-child(-n + 3).active b {
  color: #fff;
}
.middle li span:nth-child(-n + 3).active i {
  color: #fff;
}
.middle li span:nth-child(n + 4) {
  flex: 1;
  width: 1.45rem;
  height: 0.8rem;
  border: 1px solid #0055a8;
}
.middle li span:nth-child(n + 4) b {
  color: #0155a8;
}
.middle li span:nth-child(n + 4).active {
  background: #0055a8;
}
.middle li span:nth-child(n + 4).active b {
  color: #fff;
}
.middle li span:nth-child(n + 4).active i {
  color: #fff;
}
.middle .introduce_info {
  display: none;
  box-shadow: 0 -6px 5px 0px #f3f4f9;
  margin-top: 0.1rem;
  border-radius: 6px;
  float: left;
  padding: 0.2rem;
  position: relative;
}
.middle .introduce_info.show {
  display: block;
}
.middle .introduce_info h1 {
  color: #000000;
  height: 0.45rem;
  line-height: 0.45rem;
  font-size: 0.24rem;
}
.middle .introduce_info b {
  height: 0.4rem;
  font-weight: normal;
  line-height: 0.4rem;
  font-size: 0.18rem;
  color: #666666;
  float: left;
  margin-bottom: 0.1rem;
}
.middle .introduce_info img {
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  width: 1.2rem;
  height: 0.5rem;
}
.middle .introduce_info .txt {
  background: #f0f2f7;
  border-radius: 6px;
  padding: 0.2rem;
  color: #1a1a1a;
  font-size: 0.22rem;
  text-align: left;
  float: left;
  line-height: 0.42rem;
}
.middle .introduce_info .txt i {
  display: block;
  font-style: normal;
  float: left;
  font-size: 0.22rem;
  color: #0055a8;
}
.middle .introduce_info p {
  float: right;
  color: #e73f49;
  font-size: 0.24rem;
  margin: 0.1rem 0;
}
.middle .introduce_info a {
  width: 100%;
  font-size: 0.4rem;
  float: left;
  color: #fff;
  display: block;
  line-height: 0.9rem;
  text-align: center;
  height: 0.9rem;
  border-radius: 0.4rem;
  background: linear-gradient(to bottom, #2c9aef, #0359ac);
}
.middle .introduce_info .wp_btn {
  background: linear-gradient(to bottom, #fd7981, #e8424c);
}
.pd-address {
  height: 5.02rem;
  padding: 0.6rem 0;
  overflow: hidden;
}
.pd-address .address-li {
  width: 100%;
  background: #f0f2f7;
  overflow: hidden;
  display: flex;
}
.pd-address .address-li p {
  color: #333;
  flex: 1;
  text-align: center;
  float: left;
  font-style: normal;
  font-size: 0.24rem;
  line-height: 0.5rem;
  cursor: pointer;
  position: relative;
}
.pd-address .address-li p.active {
  background-color: #fff;
  color: #0055a8;
  font-weight: 700;
  border-radius: 6px 6px 0 0;
}
.pd-address .address-con a {
  display: none;
  background: #fff;
  padding: 0.05rem 0.2rem 0.05rem 0.2rem;
  border-radius: 0 0 6px 6px;
  margin-bottom: 0.2rem;
}
.pd-address .address-con a > h2 {
  display: block;
  font-size: 0.24rem;
  color: #333;
  margin-top: 0;
  display: inline-block;
  height: 0.62rem;
  line-height: 0.62rem;
}
.pd-address .address-con a p {
  margin-bottom: 0.15rem;
  font-size: 0.2rem;
}
.pd-address .address-con a.show {
  display: block;
}
.pd-foot {
  text-align: center;
  padding-bottom: 0.2rem;
}
.pd-foot .copyright {
  color: #999999;
  font-size: 0.2rem;
  line-height: 0.32rem;
}
